.VacationCard {
  border: 1px solid black;
  background-image: linear-gradient(pink, gray);
  width: 300px;
  height: 480px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  color: black;
}

.VacationCard img {
    width: 200px;
    height: 120px;
    transform:translateY(30px);
    border: 1px solid black;
    vertical-align: middle;
}

.follow-button-span{
    margin-right: 150px;
    width: 100px;
    transform:translateX(-20px);
    font-size: small;
}

.follow-count-span{
    margin-left: 150px;
    width: 100px;
    transform:translateX(+80px);
    transform:translateY(-40px);
    display: inline-block;

}